%tr
  %td
    = image_tag '/assets/imagen-crema-magnolia.png'
  %td
    %span.cream-name=  "Crema #{item.cream_name}"
    %br
    - item.property_values.each do |property_value|
      %b= property_value.property.display_name + ':'
      = property_value.display_name
      %br
  %td.price
    = number_to_currency item.price 
  %td
    = cart_items_form.text_field :quantity, :size=>"2", class: 'span1'
    = image_submit_tag('/assets/update-btn.png')
  %td
    = link_to image_tag('/assets/delete-btn.png'), shopping_cart_item_path(item), :method => :delete