%tr
  %td
    %b
      = I18n.t 'cart_items.item_added_on'
      = item.created_at.strftime(I18n.translate('time.formats.long_date'))
    %br/
    = link_to I18n.t('cart_items.delete'), shopping_cart_item_path(item), :method => :delete, class: 'btn btn-mini btn-danger'
  %td
    %b=  "Crema #{item.cream_name}"
    %br
    - item.property_values.each do |property_value|
      = "#{property_value.property.display_name} : #{property_value.display_name}"
      %br
  %td.price
    = number_to_currency item.price 
  %td
    = cart_items_form.text_field :quantity, :size=>"2", class: 'input-large'
