%tr
  %td
    %b
      = I18n.t 'cart_items.item_added_on'
      = item.created_at.strftime(I18n.translate('time.formats.long_date'))
    %br/
    = link_to I18n.t('cart_items.save_for_later'), move_to_shopping_cart_item_path(item, variant_id: item.variant_id, item_type_id: ItemType::SAVE_FOR_LATER_ID), method: 'put', class: 'btn btn-mini btn-danger'
    %br/
    = link_to I18n.t('cart_items.delete'), shopping_cart_item_path(item, :variant_id => item.variant_id), :method => :delete, class: 'btn btn-mini btn-danger'
  %td
    = link_to item.variant.product_name, product_path(item.variant.product)
    =  item.variant.brand_name.blank? ? '' : ['-', item.variant.brand_name].join(' ') 
    %br
    - item.property_values.each do |property_value|
      = "#{property_value.property.display_name} : #{property_value.display_name}"
      %br
  %td.price
    = number_to_currency item.price 
  %td
    = cart_items_form.text_field :quantity, :size=>"2", class: 'input-large'
