= form_for session_cart, :url => shopping_cart_item_path(session_cart), :as => :cart do |cart_form|
  .row
    .span12
      - unless @cart_items.blank?
        %span.any-change Do you want to make any changes?
        
  .row
    .span12
      %table.table.table-radius
        %thead
          %tr.shopping-cart-header
            %th{colspan: 2} Products
            %th Price
            %th Quantity
            %th

        - unless @cart_items.blank?
          - @cart_items.each_with_index do |item, i| 
            = cart_form.fields_for :shopping_cart_items, item do |cart_items_form|
              = render :partial => 'cart_item', :locals => {:cart_items_form => cart_items_form, :item => item, :i => i }

  .row
    .span12
      = link_to 'Continue Shopping', '/products/Crema-Magnolia', class: 'continue-shopping'
      
      = cart_form.submit I18n.t('checkout'), class: 'button-steps  float-right checkout', :checkout => 1