%tr
  %td
    .pull-left
      = image_tag item.variant.product.featured_image(:small)
    .pull-left
      %span.cream-name=  "Crema #{item.cream_name}"
      %br
      - item.property_values.each do |property_value|
        = "#{property_value.property.display_name} : #{property_value.display_name}"
        %br    