.row
  .col-lg-12
    %span.any-change Order summary
  
.row
  .col-lg-6
    %table.table.table-radius
      %thead
        %tr.shopping-cart-header
          %th
            Product details
      %tbody
        - @order.order_items.each do |item|
          = render :partial => 'order_item', :locals => {:item => item }

  .col-lg-6
    %table.table.table-radius
      %thead
        %tr.shopping-cart-header
          %th
            Product
          %th
            Price
          %th
            Total
      %tbody
        - @order.order_items.each do |item|
          %tr
            %td
              %span.cream-name= "#{item.variant.product.name} #{item.cream_name}"
            %td= number_to_currency item.price 
            %td= number_to_currency item.total
        %tr
          %td
          %td Sub-total:
          %td= number_to_currency @order.sub_total

        %tr
          %td
          %td Shipping Charges:
          %td
            = number_to_currency @order.shipping_charges
            - if @order.ship_address.state.shipping_zone.at_df?
              = link_to image_tag('/assets/update-btn.png'), '#myModal', "data-toggle" => "modal"

        - if @order.coupon_amount > 0.0
          %tr
            %td
            %td Coupon:
            %td
              = number_to_currency @order.coupon_amount
              = link_to 'Remove', remove_coupon_shopping_order_path(@order), class: 'btn btn-mini'

        - if @order.deal_amount && @order.deal_amount > 0.0
          %tr
            %td
            %td Promotion:
            %td= number_to_currency @order.deal_amount
            
        %tr
          %td
          %td Total:
          %td
            %em= number_to_currency @order.total
        
        
.row
  .col-lg-6.col-md-6
    #final-order-shipping-address
      %span.any-change Shipping address
      %div.address-details
        = render :partial => '/shared/compact_address', :locals => {:shopping_address => @order.ship_address}
      = link_to 'Change', shopping_addresses_path, :class => 'small-btn'

  .col-lg-6.col-md-6
    = form_tag apply_coupon_shopping_order_path(@order), id: 'apply-coupon-code-form', class: 'pull-left' do
      = text_field_tag 'coupon_code', '', placeholder: 'Coupon code', class: :span2

      = image_submit_tag('/assets/submit-btn.png')

    = link_to 'Pay with credit card', shopping_paypal_checkout_path, method: :post, class: 'pull-right button-steps credit-card'
      
    = link_to shopping_paypal_checkout_path, method: :post, class: 'pull-right' do
      = image_tag '/assets/btn_paypal.gif'
    
    %form{:action => "https://www.pagofacil.net/st/public/Payform", :method => "post", :name => "formularioPago", :target => "_blank"}
      %input{:name => "idSucursal", :type => "hidden", :value => "ba3b2748672431ebeebeed1327c14959a94a74be"}
      %input{:name => "idUsuario", :type => "hidden", :value => "ce4287a4093e4fca1928f2cde9bf041ee7de8292"}
      %input{:name => "idServicio", :type => "hidden", :value => "1"}
      %input{:name => "idPedido", :type => "hidden", :value => "1372109726"}
      %input{:name => "monto", :type => "hidden", :value => "36"}
      %input{:name => "submit", :type => "submit", :value => "compra"}

#myModal.modal.hide.fade
  .modal-header
    .button.close{'type' => "button", 'data-dismiss' => "modal", 'aria-hidden' => "true"} &times;
    %h3 Shipping Methods
  .modal-body
    = form_tag change_shipping_method_shopping_order_path(@order), id: 'change_shipping_method_form' do
      = select_tag 'shipping_method', options_for_select([['Shipped to my address - $50.00','envio_df'],['I pick it up at the store - $0.00','no_envio']]), prompt: 'Select a shipping method'
  .modal-footer
    %a.btn{'href' => "#", 'data-dismiss' => "modal", 'aria-hidden' => "true"} Close
    %a#update-shipping-method.btn.btn-primary{'href' => "#"} Update

#couponModal.modal.hide.fade
  .modal-header
    .button.close{'type' => "button", 'data-dismiss' => "modal", 'aria-hidden' => "true"} &times;
    %h3 Apply coupon
  .modal-body
    = form_tag apply_coupon_shopping_order_path(@order), id: 'apply-coupon-code-form', class: 'form-horizontal' do
      .control-group
        %label.control-label
          Coupon code
        .controls
          = text_field_tag 'coupon_code', ''
  .modal-footer
    %a.btn{'href' => "#", 'data-dismiss' => "modal", 'aria-hidden' => "true"} Close
    %a#apply-coupon-code.btn.btn-primary{'href' => "#"} Update


:javascript
  $('a#update-shipping-method').click(function() {
    $('form#change_shipping_method_form').submit();
  });
  
  $('a#apply-coupon-code').click(function() {
    $('form#apply-coupon-code-form').submit();
  });