.row
  .span8.offset2

    %span.any-change 
      Orden #
      = @order.number

.row
  .span8.offset2
    %table.table.table-radius
      %thead
        %tr.shopping-cart-header
          %th Products
          %th Price

      %tbody
        - @order.order_items.each do |item|
          %tr
            %td
              .pull-left
                = image_tag item.variant.product.featured_image(:small)
              .pull-left
                %span.cream-name= "Crema #{item.cream_name}"
                %br
                - item.property_values.each do |property_value|
                  = "#{property_value.property.display_name} : #{property_value.display_name}"
                  %br
            %td= number_to_currency item.price 

        %tr
          %td.text-right Sub-total:
          %td= number_to_currency @order.find_sub_total

        %tr
          %td.text-right Envio:
          %td= number_to_currency @order.shipping_charges

        - if @order.coupon_amount > 0.0
          %tr
            %td.text-right Coupon:
            %td= number_to_currency @order.coupon_amount

        - if @order.deal_amount && @order.deal_amount > 0.0
          %tr
            %td.text-right Promotion:
            %td= number_to_currency @order.deal_amount
            
        %tr
          %td.text-right Total:
          %td
            %em= number_to_currency @order.find_total

.row
  .span4.offset2
    %table.table.table-radius
      %thead
        %tr.shopping-cart-header
          %th Shipping address
      %tbody
        %tr
          %td
            = render :partial => '/shared/compact_address', :locals => {:shopping_address => @order.ship_address} if @order.ship_address_id
  .span4
    = link_to image_tag('/assets/share-fb.png'), '', class: 'share-fb'
  
%script
  $('.share-fb').click(function(event) {
  event.preventDefault();
  window.open('http://www.facebook.com/sharer.php?u=' + this.href, this.target, 'width=600,height=400'); return false;
  });