.row
  .col-lg-6.col-md-6
  
    = image_tag '/assets/magnolia-girl.png', id: 'magnolia-girl'
  
  .col-lg-6.col-md-6
    %h1 Contact
  
    = form_tag '/contacto', id: 'contact-form' do
    
      .control-group
        %label Name
        .controls
          = text_field_tag 'nombre', '', class: 'span5'

      .control-group
        %label Email
        .controls
          = text_field_tag 'email', '', class: 'span5'
         
      .control-group
        %label Message
        .controls
          = text_area_tag 'mensaje', '', class: 'span5'

      .control-group
        .controls
          = submit_tag 'Send', class: 'button-large'
