.row
  .col-lg-6.col-md-6
  
    = image_tag '/assets/magnolia-girl.png', id: 'magnolia-girl'
  
  .col-lg-6.col-md-6
    %h1 Contact
  
    = form_tag '/contacto', id: 'contact-form' do
    
      .form-group
        %label Name
        = text_field_tag 'nombre', '', class: 'form-control'

      .form-group
        %label Email
        = text_field_tag 'email', '', class: 'form-control'
         
      .form-group
        %label Message
        = text_area_tag 'mensaje', '', class: 'form-control'

      .form-group
        = submit_tag 'Send', class: 'btn btn-magnolia btn-lg'
