= form_for  @cart_item, :as => :cart_item, :url  => shopping_cart_items_path(@cart_item), :html => { :id => 'new_cart_item' } do |f|
  .row
    .span12
      .steps.step0
    
      

  .row
    .span5
      #animacion
        #cream-name
        = image_tag '/assets/bottle/frasco.png', id: 'bottle'
        #fill.step0
          &nbsp;

      .buttons-container
        .button-row
          = link_to '< Regresar', '#', class: 'button-steps  float-left hide', id: 'back-step'
          = link_to 'Empezar >', '#', class: 'button-steps  float-right', id: 'next-steps'
        .button-row
          = link_to 'Comprar', '#', class: 'button-steps checkout-button hide float-left', id: 'checkout'
        .button-row
          .cream_name_container
            %span Nombre de la crema:
            = text_field_tag 'cart_item[cream_name]', ''

    .span7.ingredients-container
      #instruccions.row
        .span7
          %h3
            Instrucciones:
          %p
            Aliquam sit amet porta justo. Aliquam erat volutpat. In hac habitasse platea dictumst. Nullam lacinia commodo diam, id adipiscing ipsum molestie eu. Phasellus fringilla, eros eu scelerisque pretium, risus quam vulputate velit, a imperdiet libero diam eget erat. Nam adipiscing arcu eu mauris sagittis bibendum. Aliquam nunc magna, malesuada a iaculis id, porta in felis.


      - Property.all.each do |property|
        .row.hide.properties{id: "#{property.display_name.downcase.parameterize}"}
          .span7
            -property.property_values.each do |property_value|
              = link_to '#', 'data-property' => "property_#{property.id}_property_value_id_#{property_value.id}", class: 'link-property' do
                = image_tag "/assets/steps/#{property.display_name.downcase.parameterize}-#{property_value.display_name.downcase.parameterize}.png", class: 'lazy'
              = radio_button_tag "property[#{property.id}][property_value_id]", property_value.id, '', class: :hide
      - @product.variants.each do |variant|
        = radio_button_tag "cart_item[variant_id]", variant.id, false, class: :hide, 'data-variant-sku' => variant.sku
      = hidden_field_tag "cart_item[quantity]", 1

= image_tag '/assets/checked.png', class: 'checked-icon hide'

= javascript_include_tag 'crema'
- content_for :javascript do
  $(document).ready(function(){
  Magnolias.crema.init();
  });