= form_for  @cart_item, :as => :cart_item, :url  => shopping_cart_items_path(@cart_item), :html => { :id => 'new_cart_item' } do |f|
  .row
    .span12
      .steps.step0
    
      

  .row
    .span5
      #animacion
        #cream-name
        = image_tag '/assets/bottle/frasco.png', id: 'bottle'
        #fill.step0
          &nbsp;

      .buttons-container
        .button-row
          = link_to '< Back', '#', class: 'button-steps  float-left hide', id: 'back-step'
          = link_to 'Start', '#', class: 'button-steps  float-right', id: 'next-steps'
        .button-row
          .cream_name_container
            %span Your name?
            = text_field_tag 'cart_item[cream_name]', ''
        .button-row
          = link_to 'Buy', '#', class: 'button-steps checkout-button hide float-left', id: 'checkout'


    .span7.ingredients-container
      #instruccions.row
        .span7
          %h3
            Instructions:
          %p We divided the process of creating YOUR own Body Cream in four steps and, because you are in the Magnolia Cream Parlor Experience, it is as simple as choosing your favorite ice cream mix:
          %p 1st. The Base: We found that women have different kinds of skin type. Here YOU choose wich one fits you best.
          %p 2nd. Power Blend: The perfect and exact combination of high-end actives to give the super power to YOUR cream to fight five of the most common enemies of woman beauty.
          %p 3rd. Topping: Yes, you can add an extra something to YOUR cream. It depends on your mood, age, ocassion, etc. It’s to make it that thing you always wanted it but you never found.
          %p 4th. Flavor: If you want to add some flavor to your life, we can make it happen. We have developed a very ambicious pallete of flavors to fulfill from the most sweet to the freshest taste. Our sublime flavors are gone a make your boyfriend, husband, partner, buddy, fiance, etc. want to &quot;taste&quot; YOU. It is sexy. And no, you can’t eat the product altough we know everybody wants to.

      - Property.all.each do |property|
        .row.hide.properties{id: "#{property.display_name.downcase.parameterize}"}
          .span7
            -property.property_values.each do |property_value|
              = link_to '#', 'data-property' => "property_#{property.id}_property_value_id_#{property_value.id}", class: 'link-property', :rel => "tooltip", "data-placement" => "top", "data-original-title" => property_value.description  do
                = image_tag "/assets/steps/#{property.display_name.downcase.parameterize}-#{property_value.display_name.downcase.parameterize}.png", class: 'lazy'
              = radio_button_tag "property[#{property.id}][property_value_id]", property_value.id, '', class: :hide
      - @product.variants.each do |variant|
        = radio_button_tag "cart_item[variant_id]", variant.id, false, class: :hide, 'data-variant-sku' => variant.sku
      = hidden_field_tag "cart_item[quantity]", 1

= image_tag '/assets/checked.png', class: 'checked-icon hide'

= javascript_include_tag 'crema'
- content_for :javascript do
  $(document).ready(function(){
  Magnolias.crema.init();
  $('.link-property').tooltip();
  });
