.row
  .col-lg-6.col-md-6
  
    = image_tag '/assets/magnolia-girl.png', id: 'magnolia-girl'
  
  .col-lg-6.col-md-6
    %h1 Login
    
    - if flash[:alert]
      .row
        .alert.alert-error
          %button{:type => "button", :class => "close", 'data-dismiss' => "alert"}
            &times;
          = flash[:alert]

    .social-logins
      = link_to image_tag('/assets/ingresar-facebook.png'), '/auth/facebook'

    .hr-line
      %span
        with your email

    = form_for @user_session, as: :user_session, url: user_sessions_path(@user_session) do |form|
      %fieldset
        .control-group
          = form.label :email, 'Email', class: 'control-label'
          .controls
            = form.email_field :email, :autocomplete => 'off', :autocapitalize => 'off', class: 'span5'

        .control-group
          = form.label :password, 'Password', class: 'control-label'
          .controls
            = form.password_field :password, :autocomplete => 'off', :autocapitalize => 'off', class: 'span5'
          
        .control-group
          .controls
            = form.submit "Login", class: 'button-large'

        .control-group
          .controls
            = link_to I18n.t('user_sessions.forgot_password'), new_customer_password_reset_path()
          .controls
            = link_to 'Create an account', '#', class: 'show-new-user-form'



    = form_for @user, :url => customer_registrations_path(@user), html: {class: :hide}  do |form|
      %fieldset
        .control-group
          =form.label :email, 'Email', class: 'control-label'
          .controls
            = form.email_field :email, :autocomplete => 'off', :autocapitalize => 'off', class: 'span5'

        .control-group
          =form.label :email, 'Password', class: 'control-label'
          .controls
            = form.password_field :password, :autocomplete => 'off', :autocapitalize => 'off', class: 'span5'

        .control-group
          =form.label :email, I18n.t('user_sessions.password_confirmation'), class: 'control-label'
          .controls
            = form.password_field :password_confirmation, :autocomplete => 'off', :autocapitalize => 'off', class: 'span5'

        .control-group
          .controls
            = form.submit I18n.t('user_sessions.register'), class: 'button-large'

        .control-group
          .controls
            = link_to 'Return to Login', '#', class: 'button-large'