<% if @shopping_address.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@shopping_address.errors.count, "error") %> prohibited this shopping_address from being saved:</h2>

    <ul>
    <% @shopping_address.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class='main-address'>
  <div class="inline">
    <div class="field column">
       <%= f.label :nombre %>
       <%= f.text_field :first_name, :class => 'span-3' %>
    </div>

    <div class="field column">
      <%= f.label :apellido %>
      <%= f.text_field :last_name, :class => 'span-3' %>
    </div>
  </div>
  <div class='clear'></div>
    <div class="inline">
      <div class="field column">
        <%= f.label :direccion, 'Dirección' %>
        <%= f.text_field :address1 %><br/>
        <%= f.label :address2, 'Colonia' %>
        <%= f.text_field :address2 %>
      </div>
    </div>
  <div class='clear'></div>

    <div class="field column">

      <%= f.label :state_id, "Estado" %>
      <%= f.select  :state_id, @states,
                    :include_blank => true %>
    </div>
  <div class='clear'></div>
    <div class="inline">
      <div class="field column">
        <%= f.label 'Ciudad' %>
        <%= f.text_field :city, :class => 'span-3' %>
      </div>
      <div class="field column">
        <%= f.label 'Codigo Postal' %>
        <%= f.text_field :zip_code, :class => 'span-3' %>
      </div>

    <% if nil %>
      <div class="field column">
        <%= f.label :state_name %>
        <%= f.text_field :state_name, :class => 'span-3' %>
      </div>
    <% end %>

    </div>

  <div class='clear'></div>
    <div class="field">
      <%#= f.input :phone %>
    </div>
</div>

<div class="actions prepend-1">
  <%= submit_tag 'Crear Direccion', :class => 'btn' %>
</div>
