!!!5
%html{class: controller_name}
  %head
    %title
      Magnolias Cream Parlor
    %link{href: 'http://openfontlibrary.org/face/osp-din', rel: 'stylesheet', type: 'text/css'}
    = stylesheet_link_tag 'application'
    = csrf_meta_tag
    = javascript_include_tag 'application'
    = yield :head


  %body
    #wrap
      .container
        %header
          .row
            = link_to image_tag('/assets/logo-magnolias.png', id: :logo), root_path
            %nav
              %ul
                %li
                  %a{href: '#'}
                    = I18n.t 'nav.about_us'
                %li
                  %a{href: '/contacto/new'}
                    = I18n.t 'nav.contact'
                - if current_user
                  %li
                    = link_to I18n.t('nav.cart'), shopping_cart_items_path
                %li
                  - if current_user
                    = link_to I18n.t('nav.logout'), logout_path
                  - else
                    = link_to I18n.t('nav.login'), login_path

        #content.row
          .span12
            - if alert
              .alert.alert-error{'data-alert'=>"alert"}
                = link_to 'x','#', :class => 'close'
                %p= alert
            - if notice
              .alert.alert-info{'data-alert'=>"alert"}
                = link_to 'x','#', :class => 'close'
                %p= notice
            
            = yield
          
    %footer
      Copyright 2012. All right reserved.
      .social-networks-links
        = link_to 'twitter','http://www.twitter.com/magnolia_cream', class: 'twitter', target: '_blank'
        = link_to 'facebook','https://www.facebook.com/pages/Magnolia-Cream-Parlor/454390021250578', class: 'facebook', target: '_blank'
        = link_to 'pinterest','http://pinterest.com/Magnoliacreampa', class: 'pinterest', target: '_blank'
        = link_to 'google plus','https://plus.google.com/107026271343129316871/posts', class: 'google-plus', target: '_blank'
      


    %script{type: 'text/javascript'}
      = yield :javascript
      
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
