!!!5
%html{class: controller_name}
  %head
    %title
      Magnolia Cream Parlor
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %link{href: 'http://openfontlibrary.org/face/osp-din', rel: 'stylesheet', type: 'text/css'}
    %link{href: 'http://fonts.googleapis.com/css?family=BenchNine:400,700', rel: 'stylesheet', type: 'text/css'}
    = stylesheet_link_tag 'application'
    = csrf_meta_tag
    = javascript_include_tag 'application'
    = yield :head


  %body{:class => detect_browser_os}
    %header
      .container
        .row
          .col-lg-3.col-md-3
            = link_to image_tag('/assets/logo-magnolias.png', id: :logo), root_path
          .nav-container
            .row
              .col-lg-12.col-md-12
                %span.create-cream
                  Create your cream!
            .row
              .col-lg-12.col-md-12
                %ul.gen-nav
                  %li
                    %a{href: '/'}
                      = I18n.t 'nav.home'
                  %li
                    %a{href: '/about'}
                      = I18n.t 'nav.about_us'
                  %li
                    %a{href: '/superstars'}
                      = I18n.t 'nav.our_superstar'
                  %li
                    %a{href: '/contacto/new'}
                      = I18n.t 'nav.contact'
          .col-lg-3.col-md-3
            .nav-box
              .call-us
                Give us a call
                %br
                01800 699 6333
              %ul
                %li
                  - if current_user
                    = link_to "My account", myaccount_overview_path
                  - else
                    = link_to I18n.t('nav.login'), login_path

                - if current_user
                  %li
                    = link_to "#{I18n.t('nav.cart')} (#{session_cart.shopping_cart_items.count})", shopping_cart_items_path
                  %li= link_to I18n.t('nav.logout'), logout_path

              - if current_user
                .hello-container
                  = "Hello #{current_user.first_name}"

    #wrap
      .container
        #content.row
          .col-lg-12.col-md-12
            = yield
          
    %footer
      Magnolia Cream Parlor &reg; 2013. All Rights Reserved      

    %script{type: 'text/javascript'}
      = yield :javascript
      
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      
      - if show_modal_name?
        $(document).ready(function() {
        $('#modal-name').modal();
        });
      
- if current_user
  #modal-name.modal.hide.fade
    .modal-header
      %button{:type => "button", :class => "close", 'data-dismiss' => "modal", 'aria-hidden' => "true"}
        &times;
      %h3 Tell me your name

    .modal-body
      = form_for current_user, url: myaccount_overview_path, method: :put do |form|
        = form.text_field :first_name, placeholder: 'First name'
        = form.text_field :last_name, placeholder: 'Last name'
    .modal-footer
      %a.btn{'data-dismiss' => "modal"} Close
      %a#save-names.btn.btn-primary Save name

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-44520728-1', 'magnoliacream.com');
ga('send', 'pageview');

</script>